<div class="container">
  <div class="text-in-img">
    <img class="trees" src="./assets/trees_blur.png">
    <h1 class="img-header">Plant a tree for free!</h1>
    <div class="action_box">
      <mat-card class="example-card">
        <h1 class="instructions">Here's how you do it!</h1>
        <mat-card-content>
          <p>
            Play & complete one of our games to plant <span class="green">1</span> tree.<br><br>
            Our goal is to help you learn more about our enviroment, so that you can help us protect it!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/dragdrop']">"Drag n drop"</button>
          <button mat-raised-button [routerLink]="['/quiz']">"Quiz"</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br><br><br><br><br>
  </div>
</div>