<div>
  <h1 class="header">Test your knowledge</h1>
  <div #flash class="alert alert-success" *ngIf="endGame()">
<p>Game completed</p>
</div>

<app-drag-drop-leaderbord class="leaderbord" [time]="time" *ngIf="endGame()"></app-drag-drop-leaderbord>

  <div class="box">
    <div class="left-box">
      <mat-card class="example-card">
        <h1 class="instructions">Here's the rules</h1>
        <mat-card-content>
          <p>
            In this drag and drop game can you learn about the climate. You task is to drag the items to the right
            container.
            If you try put a item there belong to the solution container into the consequences it will allow you to do
            it.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="right-box">
      <mat-card class="example-card">
        <mat-card-content id="container">
          <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
          <button *ngIf="!endGame() && !isgameStarted" mat-button class="green" (click)="startTime()">Start time</button>
           <button *ngIf="!endGame() && isgameStarted" mat-button class="yellow" (click)=" pauseTimer()">Pause time</button>
          <button *ngIf="endGame()" mat-button class="red" (click)="reset()">Reset game</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

<br><br><br><br>

<div class="flex">
  <div class="test right">
    <h2>Statements</h2>
    <div cdkDropList #itemsSolutionsList="cdkDropList" [cdkDropListData]="itemsSolutions"
      [cdkDropListConnectedTo]="[solutionsList]" (cdkDropListDropped)="drop($event)" class="example-list">

      <div *ngFor="let item of itemsSolutions" cdkDrag class="example-box">{{item.question}}</div>
      <div cdkDropList #itemsConsequencesList="cdkDropList" [cdkDropListData]="itemConsequences"
        [cdkDropListConnectedTo]="[ConsequencesList]" (cdkDropListDropped)="drop($event)" class="example-list">
        <div *ngFor="let item of itemConsequences" cdkDrag class="example-box">{{item.question}}</div>
      </div>
    </div>
  </div>

  <div class="test left">
    <h2>Solutions for the climate</h2>
    <div cdkDropList #solutionsList="cdkDropList" [cdkDropListData]="solutions"
      [cdkDropListConnectedTo]="[itemsSolutionsList]" (cdkDropListDropped)="drop($event)" class="example-list">

      <div *ngFor="let item of solutions" class="example-box">{{item.question}}</div>
    </div>
  </div>

  <div class="test left last" >
    <h2>Consequences by the climate changes</h2>
    <div cdkDropList #ConsequencesList="cdkDropList" [cdkDropListData]="consequences"
      [cdkDropListConnectedTo]="[itemsConsequencesList]" (cdkDropListDropped)="drop($event)" class="example-list">

      <div *ngFor="let item of consequences " class="example-box">{{item.question}}</div>
    </div>

  </div>
</div>