
<div class="example-container">
     <h2>Items to drag</h2>
    <div
        cdkDropList
        #itemsSolutionsList="cdkDropList"
        [cdkDropListData]="itemsSolutions"
        [cdkDropListConnectedTo]="[solutionsList]"
        (cdkDropListDropped)="drop($event)"
         class="example-list"
    >
       
        <div *ngFor="let item of itemsSolutions" cdkDrag class="example-box">{{item}}</div>
        <div
          cdkDropList
        #itemsConsequencesList="cdkDropList"
        [cdkDropListData]="itemConsequences"
        [cdkDropListConnectedTo]="[ConsequencesList]"
        (cdkDropListDropped)="drop($event)"
         class="example-list"
        >
        <div *ngFor="let item of itemConsequences" cdkDrag class="example-box">{{item}}</div>
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Solutions for the climate</h2>
    <div
      cdkDropList
        #solutionsList="cdkDropList"
        [cdkDropListData]="solutions"
        [cdkDropListConnectedTo]="[itemsSolutionsList]"
        (cdkDropListDropped)="drop($event)"
         class="example-list"
        
    >
        
        <div *ngFor="let item of solutions" class="example-box">{{item}}</div>
    </div>
</div>

<div class="example-container">
    <h2>Consequences by the climate changes</h2>
    <div
    cdkDropList
        #ConsequencesList="cdkDropList"
        [cdkDropListData]="consequences"
        [cdkDropListConnectedTo]="[itemsConsequencesList]"
        (cdkDropListDropped)="drop($event)"
         class="example-list"
    >
    
        <div *ngFor="let item of consequences " class="example-box">{{item}}</div>
    </div>

</div>