<h1 class="header">Merch</h1>
<h3 class="subheader">Each purchase donates 1 tree</h3>

<mat-list class="flex">
  <mat-list-item>
    <mat-card>
      <a matLine><img src="../assets/yellow_tree.png"></a>
      <p class="title" matLine>Yellow Tree</p>
      <p matLine>Blue</p>
      <p class="green" matLine>DKK 149,-</p>
      <a mat-raised-button class="buy-button-text" [routerLink]="['/cart']">Add to cart</a><br>
    </mat-card>
  </mat-list-item>

  <mat-list-item>
    <mat-card>
      <a matLine><img src="../assets/green_tree.png"></a>
      <p class="title" matLine>Green Tree</p>
      <p matLine>Blue</p>
      <p class="green" matLine>DKK 149,-</p>
      <a mat-raised-button class="buy-button-text" [routerLink]="['/cart']">Add to cart</a><br>
    </mat-card>
  </mat-list-item>

  <mat-list-item>
    <mat-card>
      <a matLine><img src="../assets/grey_tree.png"></a>
      <p class="title" matLine>Grey Tree</p>
      <p matLine>Blue</p>
      <p class="green" matLine>DKK 149,-</p>
      <a mat-raised-button class="buy-button-text" [routerLink]="['/cart']">Add to cart</a><br>
    </mat-card>
  </mat-list-item>
</mat-list>