<h1 class="header">Merch</h1>
<h3 class="subheader">Each purchase donates 1 tree</h3>

<mat-list class="flex">
  <mat-list-item *ngFor="let merch of merchs">
    <mat-card>
      <a matLine><img src="../assets/{{merch.ImageUrl}}.png"></a>
      <p class="title" matLine>{{merch.Name}}</p>
      <p matLine>{{merch.Color}}</p>
      <p class="green" matLine>DKK {{merch.Price}},-</p>
      <a mat-raised-button class="buy-button-text" [routerLink]="['/cart']">Add to cart</a><br>
    </mat-card>
  </mat-list-item>
</mat-list>