.navbar-bg {
  background-color: #4b8b3b;
  height: 3rem;
}

.navbar-items {
  float: right;
}

span {
  color: white;
}

.mat-card.mat-focus-indicator.example-card {
  display: flex;
}

.mat-icon.notranslate.material-icons.mat-icon-no-color {
  margin-right: .5rem;
}

a {
  color: white !important;
}

.mat-focus-indicator.mat-button.mat-button-base {
  margin-top: 0.3rem;
}