<!-- Homepage nav -->
<div class="navbar-bg">

  <button (click)="navigateTo('/')" mat-button>Trees</button>

  <div class="navbar-items">
    <button (click)="navigateTo('/')" mat-button>Home</button>
    <span>|</span>
    <button (click)="navigateTo('/dragdrop')" mat-button>"Drag n drop"</button>
    <button (click)="navigateTo('/quiz')" mat-button>"Quiz"</button>
    <button (click)="navigateTo('/merch')" mat-button>Merch</button>
    <button (click)="navigateTo('/cart')" mat-button><mat-icon>shopping_cart</mat-icon></button>
  </div>
</div>