<!-- Homepage nav -->
<div class="navbar-bg">

<button (click)="navigate('')" mat-button>Trees</button>

  <div class="navbar-items">
    <button (click)="navigate('')" mat-button>Home</button>
    <span>|</span>
    <button (click)="navigate('dragdrop')" mat-button>"Drag n drop"</button>
    <button (click)="navigate('quiz')" mat-button>"Quiz"</button>
    <button (click)="navigate('merch')" mat-button>Merch</button>
    <button (click)="navigate('cart')" mat-button><mat-icon>shopping_cart</mat-icon></button>
  </div>
</div>