<!-- Homepage nav -->
<div class="navbar-bg">

  <button (click)="navigateTo('/')" mat-button>TreesForFree</button>

  <div class="navbar-items">
    <button (click)="navigateTo('/')" mat-button>Home</button>
    <span>|</span>
    <button (click)="navigateTo('/dragdrop')" mat-button>Test your knowledge</button>
    <button (click)="navigateTo('/quiz')" mat-button>Climate Quiz</button>
    <button (click)="navigateTo('/merch')" mat-button>Merch Shop</button>
    <button (click)="navigateTo('/cart')" mat-button><mat-icon>shopping_cart</mat-icon></button>
  </div>
</div>