<mat-toolbar>
  <div class="container">
    <div class="margin">
      <p class="size"><a class="frontpage"><strong>TreesForFree
      </strong></a></p>
      <a class="light">Zealand</a><br>
      <a class="light">+45 12 34 56 78</a><br>
    </div>
    <div class="margin">
      <p class="size"><strong>Games</strong></p>
      <a class="light" [routerLink]="['/dragdrop']">Test your knowledge</a><br>
      <a class="light"[routerLink]="['/quiz']">Climate quiz</a>
    </div>
  </div>
</mat-toolbar>