<mat-toolbar>
  <div class="container">
    <div class="margin">
      <p class="size"><a class="frontpage"><strong>Trees
      </strong></a></p>
      <a class="light">Zealand</a><br>
      <a class="light">+45 12 34 56 78</a><br>
    </div>
    <div class="margin">
      <p class="size"><strong>Games</strong></p>
      <a class="light">"Drag n drop"</a><br>
      <a class="light">"Quiz"</a>
    </div>
    <div class="margin">
      <p class="size"><strong>Help</strong></p>
      <a class="light">Contact us</a><br>
      <a class="light">Shipping</a><br>
    </div>
  </div>
</mat-toolbar>