.margin {
  margin: auto;
}

.light {
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

p.size {
  font: 1.2rem;
}

.mat-toolbar {
  background-color: #4b8b3b;
  color: white;
  height: 10rem;
  justify-content: center;
}

.container {
  display: inline-flex;
  width: 100% !important;
}