.board {
  display: flex;
}
.blue{
  background-color: blue;
}
.scene {
  width: 100px;
  height: 150px;
  margin: 20px 10px;
  perspective: 700px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 400ms;
  transform-style: preserve-3d;
  transform-origin: center right;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg)  translateX(100%);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 1px solid #666;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.card-face-front {
  background: white;
  transform: rotateY(-180deg);
}

.show{
  display: block;
}

.hide{
  display: none;
}

.card-face-back {
  margin-top: 20px;
  background: blue;
}

.top{
  margin-top: 170px;
}


.card-face img {
  width: 80%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
