<div class="board" >
  <div *ngFor="let card1 of deck1">
  <div class="scene">
    <div class="card" [ngClass]="{'is-flipped': card1.open}" (click)="card1Click(card1)">
      <div class="card-face card-face-front">
        <img
          src="{{card1.image}}">
      </div>
      <div class="card-face card-face-back">back</div>
    </div>
  </div>
  </div>
</div>

<div class="board">
  <div *ngFor="let card2 of deck2">
  <div class="scene">
    <div class="card" [ngClass]="{'is-flipped': card2.open}" (click)="card2Click(card2)">
      <div class="card-face card-face-front">
        <img
          src="{{card2.image}}">
      </div>
      <div class="card-face card-face-back">back</div>
    </div>
  </div>
  </div>
</div>

<h3>{{checkMatch()}}</h3>
